/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/06/2021, 03:37:35 PM
    Author     : David
*/


.bienvenido{
    text-align: right;
    color: whitesmoke;
    margin-right: 40px;
}

.btn-c{
   background-color: #de1f21; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:10px 10px 10px 10px;
}

